.mainbody {
    background:  linear-gradient(to right, rgba(154, 155, 156, 0.171), #ffffff), url(../../Images/hero.jpg) no-repeat center center/cover;
       
    height: 100vh;
}

.main-text {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: (-50%, -50%);
    text-align: center;
}

.welcome {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 16rem;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: rgb(49, 104, 207);
}

.product-link {
    font-size: 1.3rem;
}
