.macbody {
    background: linear-gradient(to right, rgba(20, 29, 47, 0.349), rgba(36, 59, 85, 0.349)),
        url(../../Images/macbook.jpg) no-repeat center center/cover;
    height: 60vh;
}

.macbook-blue {
    color: rgb(61, 153, 228);
    font-weight: 600;
}

.macbook-main {
    font-weight: 700;
    font-size: 6rem;
    color: #fff;
}

.macbook-p {
    font-weight: 600;
    color: #fff;
    margin-top: 4rem;
    font-size: 4rem;
    text-align: left;
}

.lite {
    font-weight: 300;
    font-size: 2rem;
}

.macbook-text {
    margin-top: 5rem;
}

.iphonexs {
    width: 56%;
    display: block;
    margin: 0 auto;
}

.logogrey2 {
    width: 10%;
    position: absolute;
    top: 25%;
    left: 43%;
    transform: (-50%, -50%);
    opacity: 0.1;
}

.macbook-price {
    position: absolute;
    bottom: -15%;
}

.buy-blue {
    color: rgb(61, 153, 228);
    font-weight: 600;
}

.pro {
    width: 120%;
    display: block;
    margin: 0 auto;
}
